
/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}



/* ROOT */

:root {

    /* COLORS */
    --white: #fff;
    --black: #000;
    --transparent: #ffffff00;



    /* FONT SIZES */
    --font-size-s: 0.875rem;
    --font-size-n: 1rem;
    --font-size-m: 1.125rem;
    --font-size-l: 2.25rem;
    --font-size-xl: 3.635rem;
    --font-size-xxl: 4.24rem;
  
    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
 
    /* BORDER RADIUS */
    --border-radius-s: 8px;
    --border-radius-m: 20px;
    --border-radius-l: 32px;
    --border-radius-circle: 50%;

    /* SITE MAX WIDTH */
    --site-max-width: 1240px;
    
}

/* GENERAL CSS */


body {
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: auto;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semibold);
    z-index: 10;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn {
    margin-top: 40px;
    border: none;
    outline: none;
    background: var(--white);
    color: black;
    border: 2px solid var(--white);
    padding: 12px 40px;
    font-size: var(--font-size-m);
    border: 1px solid var(--transparent);
    transition: 0.20s all ease;
    border-radius: var(--border-radius-s);
    z-index: 10;

}

#btn:hover {
   
    background: rgba(255, 174, 0, 0.918);
    color: var(--black);
    border: 1px solid var(--white);
   
}


#content {
    padding: 50px;
    font-size: var(--font-size-m);
    background: #ffffffd3;
    margin-top: 60px;
    color: var(--black);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius-s);
    z-index: 10;
}

/* IMAGES */

img {
    width: 100%;
}

#sound {
    width: 40px;
    margin: 10px auto;
    cursor: pointer;
    padding-top: 50px;
    z-index: 10;
}


.emoji {
    width: 40px;
    animation: 8s bounce ease-in-out infinite alternate;
    position: absolute;
  
}


/* LINKS */

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* ANIMATION */

@keyframes bounce {
  0% {
    bottom: 10vh;
    left: 0;
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  
    25% {
    bottom: 90vh;
    left: 50%;
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
  }
  
    75% {
    bottom: 10vh;
    left: 75%;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);

  }
  
    100% {
    bottom: 10vh;
    left: 0;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
  
  
  
}


/* RESPONSIVE */
       
/* (MOBILE) RESPONSIVE BELOW FOR MAX WIDTH 768PX */

@media screen and (max-width: 768px) {

    h1 {
    margin: auto;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

#content {
    padding: 30px;
    font-size: var(--font-size-n);
    margin-top: 40px;
    width: 90%;
}

#btn {
    margin-top: 30px;
    font-size: var(--font-size-n);
 
}


.emoji {
    width: 30px;
}

}

    




